body{

    margin:0;

    font-family:"Segoe UI",sans-serif;

    background:#f5f7f2;

    color:#2d342d;
}

.navbar{

    display:flex;

    justify-content:center;

    gap:25px;

    padding:25px;
}

.navbar a{

    text-decoration:none;

    color:#4e624e;

    font-weight:600;
}

.active{

    color:#7d9d73;
}

.hero{

    max-width:900px;

    margin:auto;

    text-align:center;

    padding:60px 20px;
}

.hero h1{

    font-size:64px;

    margin-bottom:20px;
}

.hero p{

    font-size:18px;

    margin:10px 0;
}

#startBtn{

    margin-top:35px;

    border:none;

    padding:15px 35px;

    border-radius:15px;

    background:#6f8f67;

    color:white;

    cursor:pointer;

    font-size:18px;
}

.hidden{

    display:none;
}

.question-card{

    max-width:850px;

    margin:40px auto;

    background:white;

    padding:35px;

    border-radius:25px;

    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.question-card h2{

    margin-bottom:25px;
}

.question-card textarea{

    width:100%;

    min-height:120px;

    border-radius:15px;

    padding:15px;

    resize:none;
}

.question-card button{

    margin-top:25px;

    padding:12px 25px;

    border:none;

    border-radius:12px;

    background:#6f8f67;

    color:white;

    cursor:pointer;
}

.option{

    display:block;

    margin:12px 0;
}

.popup-overlay{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.45);

    display:none;

    justify-content:center;

    align-items:center;
}

.popup-box{

    background:white;

    padding:35px;

    border-radius:25px;

    width:90%;

    max-width:500px;

    text-align:center;
}

.popup-buttons{

    display:flex;

    justify-content:center;

    gap:15px;

    margin-top:20px;
}

.small{

    color:#777;
}